
<ion-content>
  <div class="header ion-padding">
<div class="info" >
<ion-icon name="chevron-back-outline" routerLink="/chat"> </ion-icon>
<ion-avatar>
  <img src="https://i.pravatar.cc/243">
</ion-avatar>
<span class="detalles">

<h1>Bellamy</h1>
<p>Online</p>
</span>
</div>
<div class="Calling" >
  <ion-icon name="call-outline"></ion-icon>
</div>
  </div>
<div class="convesacion ion-padding" >

  <div class="chat-section" id="chat" >
    <div class="chat" >

      <div class="tu mensaje">

        <div class="mensaje others">
          Hola!
         </div>
         <div class=" mensaje others">
          como estas?
         </div>
         <div class="last-mensaje-other">
           <ion-avatar>
            <img src="https://i.pravatar.cc/243">
           </ion-avatar>
           <div class="mensaje last" >
             hello! como estas ?
           </div>
         </div>
         <span> 1:40 PM </span>
        </div>
        <div class="mine mensaje" >
          <div class="mensaje" >
            Bien gracias
          </div>
          <div class="mensaje last" >
            y como estas ?
          </div>
          <span> <ion-icon name="checkmark-outline"></ion-icon>  1:45 PM</span>
        </div>
       </div>
</div>
<div class="mensaje-input" >
  <ion-input placeholder="type your messenger..." ></ion-input>
  <div class="send-button">
    <ion-icon name="send-outline"></ion-icon>
  </div>
</div>
</div>

</ion-content>
